// Imports
@import './utilities/variables';
@import './utilities/maps';
@import './utilities/mixins';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

// CSS RESET
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

input, button, textarea, select {
  font: inherit;
}

ol, ul {
	list-style: none;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button, fieldset {
  border: none;
}


// Project Start
body {
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}


// Header --------------------------------------------------
.header {
  padding: 32px 0 24px;
  .header__logo {
    margin: 0 auto;
    max-width: 40px;
    @include device(desktop) {
      max-width: 64px;
      margin: initial;
    }
  }
  @include device(desktop) {
    padding: 75px 0px 28px 140px;
  }
}

// Intro --------------------------------------------------

.hero__intro-wrapper {
  @include device(desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.hero__intro {
  max-width: 327px;
  margin: 0 auto 48px auto;
  text-align: center;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 40rem;
    left: 0;
    top: 0;
    background: linear-gradient(290deg, #D6E6FE 0%, rgba(214, 252, 254, 0) 100%);
    border-radius: 0 0 35px 35px;
    z-index: -1;
    @include device(desktop) {
      height: 46rem;
      width:68%;
    }
  }
  @include device(desktop) {
    max-width: 564px;
    text-align: initial;
    margin: 99px 0px 0 140px;
  }
}

.intro__title {
  font-size: map-get($fonts, "$large1" );
  color: $primary-2;
  margin-bottom: 24px;
  @include device(desktop) {
   font-size: map-get($fonts, "$large2" );
  }
  @include device(desktop) {
    margin-bottom: 32px;
  }
}

.intro__text {
  color: $primary-3;
  line-height: 1.5;
}

// Form --------------------------------------------------

.hero__form-wrapper {
  max-width: 328px;
  background-color: $neutral-1;
  margin: 0 auto 72px auto;
  border-radius: 16px;
  padding: 24px;
  box-shadow: 16px 32px 56px 0 rgba(143, 174, 207, 0.25); 
  @include device(tablet) {
    max-width: 686px;
    padding: 32px;
  }
  @include device(desktop) {
    max-width: 564px;
  }
}
.hero__form {
  margin-bottom: 24px;
  @include device(desktop) {
    margin-bottom: 32px;
  }
  .radio__label {
    color: $primary-2;
    font-weight: 600;
    line-height: 1.5;
    display: flex;
    align-items: center;
  }
  .measurement__label {
    font-size: map-get($fonts, "$small1");
    margin-bottom: 8px;
    line-height: 1.5;
    display: inline-block;
    color: $primary-3;
  }
  input[type="radio"] {
    appearance: none;
    margin-right: 18px;
    border: 1px solid $primary-3;
    width: 31px;
    aspect-ratio: 1;
    border-radius: 50%;
    position: relative;
    &:checked {
      background-color: #315CF626;
      border: 0px solid #315CF626;
      &::after {
        content: "";
        background-color: #345FF6;
        aspect-ratio: 1;
        width: 15px;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
      }
    }
  } 
  input[type="text"] {
    display: block;
    border-radius: 12px;
    border: 1px solid $primary-3;
    padding: 20px 24px;
    @include device(tablet) {
      width: 299px;
    }
    @include device(desktop) {
      width: initial;
      max-width: 238px;
      padding: 23.5px 24px;
    }
    &::placeholder {
      font-size: map-get($fonts, "$medium1");
      color: $primary-3;
      font-weight: 600;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.form__title {
  font-size: map-get($fonts, "$medium2");
  color: $primary-2;
  font-weight: 600;
  margin-bottom: 24px;
  letter-spacing: -1.2px;
  @include device(desktop) {
    margin-bottom: 32px;
  }
}

.form__radios {
  display: flex; 
  margin-bottom: 24px;
  @include device(desktop) {
    margin-bottom: 32px;
  }
  label[for="metric"] {
    margin-right: 53px;
    @include device(tablet) {
      margin-right: 224px;
    }
    @include device(desktop) {
      margin-right: 163px;
    }
  }
}

.form__text-inputs.imperial {
  display: block;
}

.active {
  display: block;
  @include device(tablet) { 
    display: flex;
    justify-content: space-between;
  }
}

.text-inputs__height {
  display: inline-block;
  position: relative;
  .placeholder-text {
    color: #345FF6;
    font-size: map-get($fonts, "$medium2");
    font-weight: 600;
    position: absolute;
    top: calc(50% + 10px);
    right: 24px;
    transform: translateY(-50%);
  }
}

.text-inputs__weight {
  display: inline-block;
  position: relative;
  .placeholder-text {
    color: #345FF6;
    font-size: map-get($fonts, "$medium2");
    font-weight: 600;
    position: absolute;
    top: calc(50% + 12px);
    right: 24px;
    transform: translateY(-50%);
  }
}

.imperial .measurement__label {
  display: block;
}

.imperial__legend {
  font-size: map-get($fonts, "$small1");
    margin-bottom: 8px;
    line-height: 1.5;
    display: inline-block;
    color: $primary-3;
}

.imperial input[type=text] {
  max-width: 132px;
  @include device(tablet) {
    max-width: initial;
  }
  @include device(desktop) {
    max-width: 238px;
  }
}

.text-inputs-wrapper {
  display: flex;
  justify-content: space-between;
}

.text-inputs-wrapper:first-child {
  margin-bottom: 16px;
}

.form__result {
  background-color: $primary-1;
  color: $neutral-1;
  padding: 32px;
  border-radius: 16px;
  @include device(tablet) {
    border-radius: 16px 999px 999px 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 25px
  }
}

.result__number {
  font-size: map-get($fonts, "$large1");
  @include device(desktop) {
  font-size: map-get($fonts, "$large2");
  }
}

.result__text {
  line-height: 1.5;
  font-size: map-get($fonts, "$small1");
}

// Meaning[Section-1] --------------------------------------------------

.hero__meaning {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: left;
  margin-bottom: 71.61px;
  @include device(tablet) {
    flex-direction: row;
    margin-bottom: 96px;
  }
  @include device(desktop) {
    justify-content: center;
    align-items: initial;
  }
}

.meaning__img {
  margin-bottom: 48px;
  @include device(tablet) {
    max-width: 435px;
    margin-left: -116px;
    margin-right: 75px;
    margin-bottom: initial;
  }
  @include device(desktop) {
    margin-left: initial;
    max-width: 564px;
    margin-right: 131px;
  }
}

.meaning__content {
  max-width: 328px;
  @include device(desktop) {
    max-width: 465px;
  }
  @include device(desktop) {
    margin-top: 172px;
  }
}

.meaning__title {
  margin-bottom: 32px;
  color: $primary-2;
  letter-spacing: -2px;
  font-size: map-get($fonts, "$medium3");
  @include device(desktop) {
    font-size: map-get($fonts, "$large1");
    margin-bottom: 35px;
  } 
}

.meaning__text {
  line-height: 1.5;
  color: $primary-3;
}

// Advices[Section-2] --------------------------------------------------

.hero__advices {
  background: linear-gradient(300deg,rgba(214, 230, 254, .5), rgba(214, 252, 254, 0) 100%);
  // background: linear-gradient(315deg,#d7e7fe40 0%,#d6fcfe00 100%);
  padding: 56px 29px 56px 19px;
  margin-bottom: 72px;
  @include device(tablet) {
    padding: 60px 43px 60px 39px;
    margin-bottom: 96px;
  }
  @include device(desktop) {
    display: flex;
    border-radius: 35px;
    margin: 0 24px 120px 24px;
    padding: 72px 116px 96px 116px;
  }
}

.advices__container {
  @include device(tablet) {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  @include device(desktop) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.advices__container:not(:last-child) {
  @include device(tablet) {
    margin-bottom: 40px;
  }
  @include device(desktop) {
    margin-bottom: initial;
    margin-right: 32px;
  }
}

.advices__icon {
  margin-bottom: 32px;
  @include device(tablet) {
    margin-bottom: initial;
  }
}

.advices__title {
  color: $primary-2;
  font-size: map-get($fonts, "$medium2");
  margin-bottom: 24px;
}

.advices__text:not(:last-child) {
  margin-bottom: 40px;
}

// Limitations[Section-3] --------------------------------------------------

.hero__limitations {
  margin: 0 29px 96px 19px;
  @include device(tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 43px 96px 39px;
    gap: 24px 15px;
  }
  @include device(desktop) {
    grid-template-columns: repeat(12, 1fr);
    max-width: 1160px;
    margin: 0 auto 96px auto;
    gap: 32px 0;
  }
}

.limitations__content {
  text-align: center;
  margin-bottom: 56px;
  @include device(tablet) {
    grid-column: 1 / -1;
    margin-bottom: 32px;
  }
  @include device(desktop) {
    text-align: left;
    grid-column: 1 / 7;
    max-width: 564px;
  }
}

.limitations__title {
  margin-bottom: 32px;
  @include device(tablet) {
    text-align: center;
  }
  @include device(desktop) {
    font-size: map-get($fonts, "$large1");
    text-align: initial;
  }
}

.hero__limitations > p {
  margin-bottom: 56px; 
  @include device(tablet) {
    text-align: center;
  }
}


.limitations__card.gender {
  @include device(desktop) {
    grid-column: 8 / 12;
    justify-self: end;
  }
}

.limitations__card.age {
  @include device(desktop) {
    grid-column: 5 / 9;
    justify-self: end;
  }
}

.limitations__card.muscle {
  @include device(desktop) {
    grid-column: 9 / 13;
    justify-self: end;
  }
}

.limitations__card.pregnancy {
  @include device(desktop) {
    grid-column: 3 / 7;
  }
}

.limitations__card.race {
  @include device(tablet) {
    grid-column: 1 / -1;
    max-width: 365px;
    justify-self: center;
  }
  @include device(desktop) {
    grid-column: 7 / 11;
  }
}

.limitations__card {
  box-shadow: 16px 32px 56px rgba($color: #8FAECF, $alpha: .25);
  padding: 24px;
  border-radius: 16px;
  background-color: $neutral-1;
  @include device(desktop) {
    padding: 32px;
    max-width: 365px;
  }
}

.limitations__card:not(:last-of-type) {
  margin-bottom: 16px;
  @include device(tablet) {
    margin-bottom: initial;
  }
}

.card__header {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  gap: 16px
}


.limitations__subtitle {
 color: $primary-2;
 font-size: map-get($fonts, "$medium1");
}

.limitations__text {
  line-height: 1.5;
  color: $primary-3;
}







