// Imports
@import './utilities/variables';
@import './utilities/maps';
@import './utilities/mixins';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

// CSS RESET
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

input, button, textarea, select {
  font: inherit;
}

ol, ul {
	list-style: none;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button, fieldset {
  border: none;
}


// Project Start
body {
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}

.sr-only {
position: absolute;
width: 1px;
height: 1px;
padding: 0;
margin: -1px;
overflow: hidden;
clip: rect(0, 0, 0, 0);
white-space: nowrap;
border-width: 0;
}

.header {
  padding: 32px 0 24px;
  .header__logo {
    margin: 0 auto;
    max-width: 40px;
  }
}

.hero__intro {
  max-width: 327px;
  margin: 0 auto 48px auto;
  text-align: center;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 40rem;
    left: 0;
    top: 0;
    background: linear-gradient(290deg, #D6E6FE 0%, rgba(214, 252, 254, 0) 100%);
    border-radius: 0 0 35px 35px;
    z-index: -1;
  }
}

.intro__title {
  font-size: map-get($fonts, "$large1" );
  color: $primary-2;
  margin-bottom: 24px;
}

.intro__text {
  color: $primary-3;
  line-height: 1.5;
}

.hero__form-wrapper {
  max-width: 328px;
  background-color: $neutral-1;
  margin: 0 auto 72px auto;
  border-radius: 16px;
  padding: 24px;
  box-shadow: 16px 32px 56px 0 rgba(143, 174, 207, 0.25); 
  @include device(tablet) {
    max-width: 686px;
    padding: 32px;
  }
}
.hero__form {
  margin-bottom: 24px;
  .radio__label {
    color: $primary-2;
    font-weight: 600;
    line-height: 1.5;
    display: flex;
    align-items: center;
  }
  .measurement__label {
    font-size: map-get($fonts, "$small1");
    margin-bottom: 8px;
    line-height: 1.5;
    display: inline-block;
    color: $primary-3;
  }
  input[type="radio"] {
    appearance: none;
    margin-right: 18px;
    border: 1px solid $primary-3;
    width: 31px;
    aspect-ratio: 1;
    border-radius: 50%;
    position: relative;
    &:checked {
      background-color: #315CF626;
      border: 0px solid #315CF626;
      &::after {
        content: "";
        background-color: #345FF6;
        aspect-ratio: 1;
        width: 15px;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
      }
    }
  } 
  input[type="text"] {
    display: block;
    border-radius: 12px;
    border: 1px solid $primary-3;
    padding: 20px 24px;
    @include device(tablet) {
      width: 299px;
    }
    &::placeholder {
      font-size: map-get($fonts, "$medium1");
      color: $primary-3;
      font-weight: 600;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.form__title {
  font-size: map-get($fonts, "$medium2");
  color: $primary-2;
  font-weight: 600;
  margin-bottom: 24px;
  letter-spacing: -1.2px;
}

.form__radios {
  display: flex; 
  margin-bottom: 24px;
  label[for="metric"] {
    margin-right: 53px;
    @include device(tablet) {
      margin-right: 224px;
    }
  }
}

.form__text-inputs.imperial {
  display: block;
}

.active {
  display: block;
}

.text-inputs__height {
  display: inline-block;
  position: relative;
  @include device(tablet) {
    margin-right: 19px;
  }
  .placeholder-text {
    color: #345FF6;
    font-size: map-get($fonts, "$medium2");
    font-weight: 600;
    position: absolute;
    top: calc(50% + 10px);
    right: 24px;
    transform: translateY(-50%);
  }
}

.text-inputs__weight {
  display: inline-block;
  position: relative;
  .placeholder-text {
    color: #345FF6;
    font-size: map-get($fonts, "$medium2");
    font-weight: 600;
    position: absolute;
    top: calc(50% + 12px);
    right: 24px;
    transform: translateY(-50%);
  }
}

.imperial .measurement__label {
  display: block;
}

.imperial__legend {
  font-size: map-get($fonts, "$small1");
    margin-bottom: 8px;
    line-height: 1.5;
    display: inline-block;
    color: $primary-3;
}

.imperial input[type=text] {
  max-width: 132px;
  @include device(tablet) {
    max-width: initial;
  }
}

.text-inputs-wrapper {
  display: flex;
  justify-content: space-between;
  @include device(tablet) {
    justify-content: initial;
  }
}

.form__result {
  background-color: $primary-1;
  color: $neutral-1;
  padding: 32px;
  border-radius: 16px;
  @include device(tablet) {
    border-radius: 16px 999px 999px 16px;
    display: flex;
    align-items: center;
    gap: 192px
  }
}

.result__number {
  font-size: map-get($fonts, "$large1");
}

.result__text {
  font-size: map-get($fonts, "$small1");
}

.hero__meaning {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: left;
  margin-bottom: 71.61px;
  @include device(tablet) {
    flex-direction: row;
    margin-bottom: 96px;
  }
}

.meaning__img {
  margin-bottom: 48px;
  @include device(tablet) {
    max-width: 435px;
    margin-left: -116px;
    margin-right: 75px;
    margin-bottom: initial;
  }
}

.meaning__content {
  max-width: 328px;
}

.meaning__title {
  margin-bottom: 32px;
  color: $primary-2;
  font-size: map-get($fonts, "$medium3");
}

.meaning__text {
  line-height: 1.5;
  color: $primary-3;
}

.hero__advices {
  background: linear-gradient(300deg,rgba(214, 230, 254, .5), rgba(214, 252, 254, 0) 100%);
  // background: linear-gradient(315deg,#d7e7fe40 0%,#d6fcfe00 100%);
  padding: 56px 29px 56px 19px;
  margin-bottom: 72px;
  @include device(tablet) {
    padding: 60px 43px 60px 39px;
  }
}

.advices__container {
  @include device(tablet) {
    display: flex;
    align-items: center;
    gap: 40px;
  }
}

.advices__container:not(:last-child) {
  @include device(tablet) {
    margin-bottom: 40px;
  }
}

.advices__icon {
  margin-bottom: 32px;
  @include device(tablet) {
    margin-bottom: initial;
  }
}

.advices__title {
  color: $primary-2;
  font-size: map-get($fonts, "$medium2");
  margin-bottom: 24px;
}

.advices__text:not(:last-child) {
  margin-bottom: 40px;
}


.hero__limitations {
  margin: 0 29px 96px 19px;
}

.limitations__title {
  margin-bottom: 32px;
}

.hero__limitations > p {
  margin-bottom: 56px;
}

.limitations__card {
  box-shadow: 16px 32px 56px rgba($color: #8FAECF, $alpha: .25);
  padding: 24px;
  border-radius: 16px;
  background-color: $neutral-1;
}

.limitations__card:not(:last-of-type) {
  margin-bottom: 16px;
}

.card__header {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  gap: 16px
}


.limitations__subtitle {
 color: $primary-2;
 font-size: map-get($fonts, "$medium1");

}

.limitations__text {
  line-height: 1.5;
  color: $primary-3;
}







